
@import 'index';

.App {
    display: flex;
    align-items: center;
    height: 100%;

    .guess-color-box-holder {
        width: 50%;
        height: 100%;
        border-right: 1px solid #000;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: $secondairy-background-color;

        .guess-color-box {
            width: 50%;
            max-width: 200px;
            height: 200px;
            box-shadow: #000 4px 4px;
            border: solid 1px #000;
            border-radius: $box-radius;
        }

        .help-buttons-holder {
            display: flex;
            flex-direction: column;
            justify-content: center;

            button {
                width: 85px;
                margin: 10px;
            }
        }

        .change-amount-holder {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 20%;

            p {
                font-size: 20px;
                margin: 20px 25px 0px 25px;
            }
        }
    }

    .guess-buttons-holder {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px 10px 0px 10px;

        button {
            width: 80%;
            max-width: 170px;
            height: 100px;
        }
    }

    .current-guess-counter p {
        font-size: 18px;
    }

    .unclickable {
        opacity: 50%;
    }

    .incorrect-answer {
        margin-top: 10px;
        color: red;
        font-size: 20px;
    }
    .correct-answer {
        margin-top: 10px;
        color: green;
        font-size: 20px;
    }
    .previous-answer {
        margin-top: 10px;
        color: orange;
        font-size: 20px;
    }
}

@media screen and (max-width: 560px) {
    .App {
        .guess-color-box-holder .change-amount-holder {
            flex-direction: column;

            p {
                margin: 0;
            }
        }
    }
}